.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 229px;
}

.movie__poster {
  width: 100%;
  height: 65%;
}

.movie__container {
  min-height: 32px;
  margin: 13px auto 13px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.movie__name {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  align-self: flex-start;
  width: 100%;
  margin: 0;
}

.movie__like-button {
  min-width: 24px;
  max-height: 24px;
  appearance: none;
  border: none;
  cursor: pointer;
  background: none;
  background-image: url('../../images/like_normal.svg');
  background-repeat: no-repeat;
  transition: transform, .2s linear;
}

.movie__like-button:hover {
  transform: scale(1.3, 1.3);
  background: url('../../images/like_active.svg');
}

.movie__like-button_active {
  background: url('../../images/like_active.svg');
  transition: transform, .2s linear;
}

.movie__like-button_active:hover {
  background: url('../../images/like_delete.svg');
  transform: scale(1.3, 1.3);
}

.movie__like-button_delete {
  background: url('../../images/like_delete.svg');
}

.movie__duration {
  margin: 0;
  width: 100%;
  font-size: 11px;
  line-height: 13px;
  padding-top: 6px;
  color: #8B8B8B;
  text-align: left;
  border-top: 1px solid #424242;
}

@media screen and (max-width:1160px) {
  .movie {
    max-height: 270px;
  }

  .movie__container {
    max-height: 32px;
  }

  .movie__name {
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (max-width: 768px) {
  .movie {
    max-height: 270px;
  }

  .movie__poster {
    height: 70%;
  }
}

@media screen and (max-width: 600px) {
  .movie {
    max-height: 400px;
  }
}