.login {
  display: flex;
  flex-direction: column;
  max-width: 396px;
  margin: 0 auto;
  padding-top: 70px;
}

.login__form {
  width: 100%;
  margin-top: 40px;
}

.login__text {
  margin: 14px auto 30px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #8b8b8b;
  line-height: 17px;
  text-align: center;
}

.login__text_link {
  text-decoration: none;
  color: #4285f4;
}

.button_blue {
  width: 100%;
  min-height: 45px;
  appearance: none;
  border: none;
  border-radius: 5px;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background: #4285f4;
  margin-top: 179px;
}

.button_blue_disabled {
  background: #A0A0A0;
  color: #202020;
}

@media screen and (max-width: 768px) {
  .login {
    padding-top: 232px;
  }
}

@media screen and (max-width: 320px) {
  .login {
    max-width: 260px;
    padding-top: 70px;
  }
  
  .login__text {
    font-size: 12px;
  }
}